<!--Alert message-->
<div class="row">
    <div *ngIf="notificationMessage" class="alert alert-warning alert-dismissible" role="alert">
        <button (click)="notificationMessage = null" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ notificationMessage }}
    </div>
</div>

<div class="row">
    <div class="col">
        <appc-change-name (notification)="notify($event)"></appc-change-name>
    </div>
    <div class="col">
        <appc-change-password (notification)="notify($event)"></appc-change-password>
    </div>
</div>